noaa:
    input_dir: '\\MyDir\\NOAA GSOM Current Climate\\'
    filtered_dir: '\\MyDataDir\\filtered NOAA\\'
    compiled_dir: '\\MyDataDir\\processed NOAA\\'
    interpolated_dir: '\\MyDataDir\\interpolated NOAA\\'
    annualized_dir: '\\MyDataDir\\annualized NOAA\\'
who:
    input_dir:  '\\MyDataDir\\WHO Mortality ICD-10\\'
    output_dir:  '\\MyDataDir\\processed WHO\\'
country_shapes: '\\MyDataDir\\koordinates\\world-country-boundaries.shp'
cmip5:
    input_dir:  '\\MyDataDir\\CCAFS Future Climate\\'
    output_dir:  '\\MyDataDir\\processed CMIP5\\'
custom_input_dir: '\\MyDataDir\\supplemental_data\\'
combined:   '\\MyDataDir\\multiple_sources\\'